* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

main {
  background-color: rgb(234, 221, 221);
}
.nav-bar {
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  height: 60px;
  width: max-content;
}
.logo-img img {
  height: 40px;
  width: max-content;
}

.main {
  height: 45px;
  width: fit-content;
  padding: 0 8px 0 8px;
  border: 2px solid transparent;
}
.border {
  padding-top: 10px;
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid rgb(197, 190, 190);
}

.deliver-to {
  font-size: 0.85rem;
  margin-left: 15px;
}
.icon-update {
  display: flex;
  align-items: center;
}
.update-loc {
  font-size: 1.05rem;
  margin-left: 3px;
}
.search-bar {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 680px;
  border-radius: 4px;
}
#option {
  width: 50px;
  text-align: center;
  background-color: #f3f3f3;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: none;
}
.search-box {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: chocolate;
  color: black;
  font-size: 1.3rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.upper {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}
.opt {
  background: none;
  border: none;
  color: rgb(177, 172, 172);
}
.lower {
  color: rgb(177, 172, 172);
}
.cart i {
  font-size: 30px;
}
.cart {
  font-size: 1rem;
  font-weight: bolder;
}

.second-nav {
  height: 40px;
  width: 100%;
  background-color: #131921;
  display: flex;
  align-items: center;
}
.other-options {
  width: 70%;
  height: 40px;
  display: inline-flex;
  color: #dfd4d4;
}
.other-options i {
  margin-right: 4px;
}
.para {
  height: 36px;
  width: fit-content;
  padding: 0 4px 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.update-new {
  color: #dfd4d4;
  margin-left: 2rem;
}
.hero-img {
  background-image: url(./content/kurti.jpg);
  background-size: cover;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box-container {
  height: auto;
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box1 {
  margin-top: 8px;
  padding: 20px 0 20px 0;
  position: relative;
  height: auto;
  width: 24%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, rgb(228, 237, 244), white);
}

.sub-box1 img {
  display: flex;
  height: 15vh;
  width: 15vh;
  object-fit: cover;
}
.heading {
  padding: 0 20px 0 20px;
}
.pre {
  width: 120px;
  display: flex;
  font-size: 13px;
}

.mobile-section {
  width: auto;
  background-color: #ffffff;
  margin: 50px 20px 20px 20px;
}
.today {
  padding-top: 15px;
  padding-left: 30px;
  display: flex;
  align-items: last baseline;
  gap: 20px;
}
.mobile-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box2 {
  padding-bottom: 30px;
}
.img-box {
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.discount-area {
  height: 20px;
  max-width: fit-content;
  color: #fff;
  background-color: #dc143c;
  padding: 3px 5px 3px 3px;
}
.time-area {
  height: 20px;
  width: 50px;
  color: red;
  background-color: white;
  padding: 3px 5px 3px 3px;
}

.head {
  margin-bottom: 20px;
  text-decoration: none;
}

.women-section {
  height: 300px;
  background-color: #ffffff;
  margin: 50px 20px 20px 20px;
}
.women-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  overflow-x: scroll;
}
.women {
  height: 60%;
}
.recommand {
  height: 7rem;
  display: grid;
  place-items: center;
}
.recommand a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}
.back {
  margin-top: 20px;
  height: 40px;
  background-color: #3765ab;
  color: #fff;
  display: grid;
  place-items: center;
}
.support {
  height: 380px;
  background-color: #0e2a66;
  color: #fff;
}
.element {
  width: 70%;
  margin: auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}
.getToKnow li {
  list-style-type: none;
  padding: 3px;
}
.lang {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.btn {
  background-color: #0b50e5;
  color: #fff;
  padding: 6px 23px 6px 23px;
  border: 2px solid white;
  border-radius: 2px;
}
.last-section {
  height: 300px;
  background-color: #0c1e4c;
  display: grid;
  place-items: center;
}
table {
  text-align: start;
  border-collapse: collapse;
  height: 90%;
  width: 70%;
  color: #fff;
}
tr,
td {
  width: 60vmin;
  padding: 10px;
}
.anything {
  margin: auto;
  display: grid;
  place-items: center;
  row-gap: 10px;
}
.condition {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-weight: 500;
}
.anything p {
  color: #fff;
  font-weight: 500;
  padding-left: 50px;
}
